*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(../imagenes/natural-wood-background-texture-with-whitish-blue-pattern-for-high-resolution-wallpapers-free-photo.jpg);
    background-size: cover; 
}
p {
    position: absolute;
    display: flex;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 300px;
    width: 480px;
    background-color: none;
    border-radius: 40px 15px 40px 15px;
}

.reloj{
 background-color: rgba(0, 0, 0, 0);
 margin-left: auto;
 margin-top: 170px;
 margin-bottom: auto;
 margin-right: auto;
 font-size: 81px;
 width: 450px;
 font-family: 'Orbitron', sans-serif;
 border: none;
 text-align: center;
 color: rgb(7, 7, 7);

}